@import "cards.css";

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap');

*{
	margin: 0;
}

h1{
	text-align: center;
}

.cover{
	background: linear-gradient(to top,rgba(20,18,19,0.5) 0%, rgba(20,18,19,0.5) 90%, rgba(20,18,19,0.5) 100% ),url("../img/cover.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 90vh;
	background-position: center;
	background-attachment: fixed;
	z-index: 0.1;
}

.navi{
	background: linear-gradient(to top,rgba(20,18,19,0.1) 0%, rgba(20,18,19,0.1) 90%, rgba(20,18,19,0.1) 100% );
	height: 70px;
	width: 100vw;
	position:fixed;
	z-index: 1;
	color: white;
}
.navi a{
		padding-left:30px;
}
.navi a img{

	opacity: 1;
	padding-top: 7px;
}

.navi ul{
	padding-right: 60px;
	float: right;	
}

.navi ul li{
	display: inline;	
}


.navi ul li img{
	padding: 16px 7px 7px 10px;
	width: 40px;
	height: 40px;
}

.navi ul li img:hover{
	transform:scale(1.2);
	transition: transform 400ms ease;
}

.cover_text{
	text-align: center;
	padding: 250px 25% 0 25%;
	font-family: roboto,sans-serif;
	color: #FFFFFF;
	line-height: 2.9rem;
}

.cover_text h1{
	font-weight: bold;
	font-size: 3.5rem;
	
}

.cover_text p{
	padding-top: 50px;
	font-weight: bolder;
	font-family: roboto,sans-serif;
	font-size: 1.5rem;

}

.AbtUs{
	/*border-top:solid #FFFF 2px;*/
	min-height:200px;
	background-color: #1f1f1f;
	text-align: center;
	position: relative;
}
.AbtUs h1{
	padding: 20px;
	color: #fff;	
}

.AbtUs p{
	padding:0px 22% 0 22%;
	font-family: roboto,sans-serif;
	font-size: 1.0rem;
	line-height: 1.5rem;
	letter-spacing: normal;
	color:rgb(164,164,164);
}

.org_games{
	border-top:solid #FFFF 2px;
	min-height:500px;
	background-color: #1f1f1f;
	text-align: center;
}
.org_games h1{
	padding: 20px;
	color: #fff;	
}


.what_we_do{
	border:solid black 1px;
	min-height:300px;
}

.subscribe{
	background-color: #1f1f1f;
	text-align: center;
	padding: 20px;
	color: #fff;
}

.subscribe h1{
	padding: 10px;
}

.subscribe input{
	outline: none;
	height: 30px;
	width: 250px;
	background-color: transparent;
	border-width:1px;
	border-color: white;
}

